.characters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card {
  width: 250px;
  height: 360px;
  border: 2px solid #4b4b4b ;
  border-radius: 25px;
  margin: 15px;
  overflow: hidden;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  background-color: #fffcf0;
}

.image {
  width: 250px;
}

p {
  font-size: 1.6rem;
}

button {
  border-radius: 7px;
  height: 2rem;
  padding: 0 1rem;
}

.favourites-image-container {
  width: 100%;
  display: flex;
}


.favourites-image-container img {
  width: 50px;
  border-radius: 50%;
  margin:0 5px;
}

