.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

.darkMode {
	background-color: #333;
}

.lightMode {
	background-color: #eee;
}
